$primary-coloro: #c27463;
$primary-colorp:#6C557D;
$primary-colorlp:#E4D4F0;
$primary-colory:#E7B975;



.footer{
    background-color:#141831;
    color: whitesmoke;
    text-align:center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}