$primary-coloro: #c27463;
$primary-colorp:#6C557D;
$primary-colorlp:#E4D4F0;
$primary-colory:#E7B975;

$primary-color1: #FFC9B5;
$primary-color2: #F7b1ab;
$primary-color3: #d8aa96;
$primary-color4: #807182;
$primary-color5: #c7d3bf;
$primary-color6: #141831;




.footer{
    background-color:$primary-color4;
    color: $primary-color5;
    text-align:center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
   

}